<html lang="en">
<head>
	<title>Personal Homepage (Vue v2)</title>
	<meta property="og:type" content="webapp">
	<meta property="og:title" content="Personal Homepage">
	<meta property="og:description" content="A homepage that stores my personal bookmarks, eliminating the need to remember every website I regularly visit.">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="style.css" rel="stylesheet" type="text/css" />
	<!-- VueJS 2 -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- <script src="https://unpkg.com/vue@next"></script> -->
	<!-- JS LaTeX equations -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
	<!-- <div class="topbar">
		<button id="lightdark" @click="lighttoggle">{{ name }}</button>
		<h1 id="clock" v-bind:title="fulltime">
			{{ showtime() }}
		</h1>
		<div id="searchfield">
			<input type="text" id="searchbar" placeholder="duckduckgo" v-on:keyup.enter="search">
			<button @click="search">Search</button>
		</div>
	</div> -->

	<button style="display: none;" id="lightdark" @click="lighttoggle">{{ name }}</button>
	<h1 id="clock" v-bind:title="fulltime">
		{{ showtime() }}
	</h1>
	<div id="searchfield">
		<input type="text" id="searchbar" placeholder="Vue v2" v-on:keyup.enter="search">
	</div>


	<div id="todolist">
		<div class="todoinput" v-bind:style="borderBottom">
			<div v-if="newtodo != ''" style="color: gold;">{{ newtodo }}</div>
			<div v-else style="color: gold;"><i>add new todo</i></div>
			<input id="newtodo" name="addtodo" v-model="newtodo" v-on:keyup.enter="addtodo" type="text">
			<button v-on:click="addtodo">Add todo</button>
			<button v-on:click="removeAll">RemoveAll</button>
			<button v-on:click="removeStriked">Striked</button>
		</div>

		<todo-item 
				v-for="item in todos" 
				v-bind:item="item" 
				v-bind:key="item.id" 
				v-on:remove-todo="removeTodo(item.id)"
				v-on:strike-toggle="strikeToggle(item.id)"/>
	</div>

	<div id="bookmarks">
		<div class="listgroup">
			<group-links 
						v-for="bookmark in bookmarks"
						v-bind:bookmark="bookmark"
						v-bind:key="bookmark.id"
						v-on:remove-bookmark="removeBookmark(bookmark.id)"
						v-on:fade-in="fadeIn(bookmark.id)"
						v-on:fade-out="fadeOut(bookmark.id)"
						@edit="editBookmark(bookmark.id)"/>
		</div>
		<div class="grouplinks" id="random" @click="random">
			<a href="" rel="noreferrer noopener">Random</a>
		</div>
		<!-- <div class="linkinput">
			<div>
				<button v-if="adding == false" v-on:click="showInputs">+</button>
				<button v-else v-on:click="addBookmark">Add</button>
			</div>
			<input v-model="newBookmarkName" id="bmName" type="text" placeholder="sitename">
			<input v-model="newBookmarkLink" id="bmLink" v-on:keyup.enter="addBookmark" type="url" name="" placeholder="url">
			
			<div v-if="editing == true" id="edit">

				<button v-on:click="pushEdit">Edit</button>
				<button v-on:click="cancelEdit">X</button>
			</div>
		</div> -->

		<div>
		<ul class="toplist" style="display: none;">
			<li class="outerli">
				<!-- <h3>School</h3> -->
				<div>School</div>
				<ul>
					<li><a href="https://hermannwesselink.magister.net/magister/#/agenda">Magister</a></li>
					<li><a href=""><s>hello</s></a></li>
					<li><a href="https://teams.microsoft.com/">MS Teams</a></li>
					<li>Is not</li>
					<li>Orthodox</li>
					<li>but ill try it</li>
				</ul>
			</li>
			<li class="outerli">
				<!-- <h3>Alphabet</h3> -->
				<div>Alphabet</div>
				<ul>
					<li>Echo</li>
					<li>Alpha</li>
					<li>Gamma</li>
					<li>Foxtrot</li>
				</ul>
			</li>
			<li class="outerli">
				<!-- <h3>Fruits</h3> -->
				<div>Fruits</div>
				<ul>
					<li>Bananas</li>
					<li>Apples</li>
					<li>Grenadines</li>
					<li>Strawberry</li>
				</ul>
			</li>
		</ul>
		<div class="addlink" style="display: none;">
			<!-- <label for=""></label>
			<input type="text"> -->
		</div>
		<div class="toplist" style="display: none;">

			<div class="listgroup">
				<group-links v-for="bookmark in bookmarks"
							v-bind:bookmark="bookmark"
							v-bind:key="bookmark.id"
							v-on:remove-bookmark="removeBookmark(bookmark.id)"
							v-on:fade-in="fadeIn(bookmark.id)"
							v-on:fade-out="fadeOut(bookmark.id)"
							@edit="editBookmark(bookmark.id)"/>
				<!-- <div class="grouplinks">
					<a href=""></a>
				</div> -->
			</div>
			<div class="linkinput">
				<div>
					<button v-if="adding == false" v-on:click="showInputs">+</button>
					<button v-else v-on:click="addBookmark">Add</button>
				</div>
				<input v-model="newBookmarkName" id="bmName" type="text" placeholder="sitename">
				<input v-model="newBookmarkLink" id="bmLink" v-on:keyup.enter="addBookmark" type="url" name="" placeholder="url">
				
				<div v-if="editing == true" id="edit">

					<button v-on:click="pushEdit">Edit</button>
					<button v-on:click="cancelEdit">X</button>
				</div>
			</div>
			<!-- <a href="https://www.bol.com">webiskjer</a> -->
			<!-- <div class="addlistgroup">+</div> -->
		</div>
		</div>
	</div>
	
	<div id="maths">
		<button v-on:click="changeEquations"><h1>Math</h1></button>
		<div class="formulasSection">
			<a class="formulasDescription" href="">{{ activeDescription }}</a>
			<div class="formulas">
				{{ activeFormulas }}
			</div>
		</div>
	</div>
	
	<div id="edit">
		<div id="bookmarkedits">
			<input type="text">
			<input type="text">
			<div>output</div>
		</div>
		<div id="mathedits">
			<input type="text">
			<textarea name="" id="" cols="30" rows="10">hello</textarea>
			<div>output</div>
		</div>
	</div>
	<!-- <iframe src="https://open.spotify.com/embed/playlist/1S8jjhorTtAU24bcAAF2i6" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
	
	<div style="display: none;">
	<!-- <h1 id="earthage"></h1> -->
	<div class="inputflextest">
		<div>
			This should flex
		</div>
		<input type="text" placeholder="type long">
	</div>

	<div id="revmesapp">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">Reverse!</button>
	</div>

	<div id="app6">
		<a href="">{{ linkname }}</a>
		<input type="text" v-model="linkname">
	</div>
	
	</div>

	<script src="script.js"></script>
</body>
</html>